* {
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 14px;
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Microsoft Yahei', Arial, sans-serif;
}
body {
  padding: 20px;
  background-color: #333333;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #454545;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d;
}
/*******************/
/**     Utility   **/
/*******************/
.disabled {
  cursor: not-allowed;
  filter: brightness(60%);
}
.no-pointer-event {
  pointer-events: none;
}
.clear-padding {
  padding: 0 !important;
}
.clear-margin {
  margin: 0 !important;
}
.display-none {
  display: none !important;
}
.alert-color {
  color: #f07165;
}
.no-border {
  border: none !important;
}
.display-none {
  display: none !important;
}
.rotate-90 {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.rotate-r90 {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.rotate-180 {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
/*******************/
/**     Common    **/
/*******************/
button,
input,
select,
.option-list > * {
  border-radius: 2px;
}
button:disabled,
input:disabled {
  cursor: not-allowed;
  filter: brightness(60%);
}
.mui-button,
button {
  cursor: pointer;
  fill: #ffffff;
  position: relative;
  border: 2px solid transparent;
  padding: 0 10px;
  max-width: 374px;
  min-width: 32px;
  height: 32px;
  overflow: hidden;
  background: #454545;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}
.mui-button:hover,
button:hover {
  background: #4d4d4d;
}
.mui-button:active,
button:active {
  background: #424242;
}
.btn-primary {
  background: #006cbe;
}
.btn-primary:hover {
  background: #0078d4;
}
.btn-primary:active {
  background: #005ca3;
}
.btn-border {
  background: transparent;
  border: 1px solid #737373;
  padding: 0 11px;
}
.btn-border:hover {
  background: transparent;
  border: 1px solid #9a9a9a;
}
.btn-border:active {
  background: transparent;
  border: 1px solid #5c5c5c;
}
.btn-panel {
  background-color: #4d4d4d;
}
.btn-panel:hover {
  background: #565656;
}
.btn-panel:active {
  background: #444444;
}
.btn-icon {
  width: 36px;
  height: 36px;
  margin: 0;
  padding: 0;
  min-width: 36px;
  max-width: unset;
  background: transparent;
}
.btn-dropdown {
  min-width: 72px;
  text-align: center;
  padding-right: 28px;
  text-overflow: ellipsis;
}
.btn-close {
  position: absolute;
  width: 26px;
  min-width: 26px;
  height: 26px;
  padding: 4px 0 0;
  right: 6px;
  top: 6px;
  background: transparent !important;
}
.btn-close:hover {
  background: #4d4d4d !important;
}
.btn-close:active {
  background: #424242 !important;
}
.btn-small {
  width: 26px;
  min-width: 26px;
  height: 26px;
}
.btn-middle {
  width: 30px;
  min-width: 30px;
  height: 30px;
}
a {
  line-height: 20px;
  text-decoration: none;
  border-bottom: 1px solid #4ea1e1;
  color: #4ea1e1;
  transition: all 0.2s ease-in-out, border 0.03s ease-in-out;
}
a:hover {
  border-bottom: 1px solid #68afe5;
  color: #68afe5;
}
a:active {
  border-bottom: 1px solid #3d98de;
  color: #3d98de;
}
input {
  cursor: text;
  height: 20px;
  padding: 1px 2px;
  border: 1px solid #737373;
  background-color: transparent;
  box-sizing: border-box;
  text-indent: 0px;
  text-align: start;
  border-image: initial;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: all 0.2s ease-in-out;
}
.switcher {
  cursor: pointer;
  width: 40px;
  min-width: 40px;
  position: relative;
  border-radius: 20px;
}
.switcher::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  transform: translateX(3px) translateY(3px);
  border-radius: 50%;
  background: #ffffff;
  pointer-events: none;
  transition: all 0.1s ease;
}
.switcher:checked {
  background: #006cbe;
  border: 1px solid #006cbe;
}
.switcher:checked:hover {
  background: #006cbe;
  border: 1px solid #006cbe;
}
.switcher:checked::after {
  transform: translateX(22px) translateY(3px);
}
.switcher:hover {
  border: 1px solid #9a9a9a;
}
input[type='text'] {
  margin: 2px 1px;
  padding: 1px 11px;
  height: 32px;
  background: #2b2b2b;
  border: 1px solid #737373;
  box-sizing: border-box;
  line-height: 20px;
  transition: all 0.2s ease-in-out;
}
input[type='text']:hover {
  border: 1px solid #9a9a9a;
}
input[type='text']:focus {
  border: 2px solid #9a9a9a;
  padding: 0px 10px;
}
input[type='text']:disabled {
  filter: none;
  color: #737373;
}
input[type='range'] {
  cursor: pointer;
  height: 4px;
  padding: 0;
  border: none;
  background: #454545;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #b8b8b8;
  transition: all 0.2s ease-in-out;
}
input[type='range']::-webkit-slider-thumb:hover {
  background: #ffffff;
}
.panel {
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  background: #3b3b3b;
  box-shadow: 0px 1.6px 3.6px #00000041, 0px 0px 2.9px #00000037;
  transition: all 0.2s ease-in-out;
}
.row-layout {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.menu {
  display: inline-block;
  position: absolute;
  padding: 4px 0;
  max-width: none;
  min-width: 64px;
  border-radius: 4px;
  background: #3b3b3b;
  box-shadow: 0px 12.8px 28.8px #00000041, 0px 0px 9.2px #00000037;
  z-index: 9999;
}
.menuitem {
  cursor: pointer;
  display: grid;
  padding: 0;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  grid-template-columns: 42px auto 42px;
  box-sizing: border-box;
  align-items: center;
  white-space: nowrap;
  justify-items: center;
  list-style-type: none;
  grid-template-rows: auto;
  transition: all 0.2s ease-in-out;
}
.menuitem i {
  font-size: 16px;
}
.menuitem span,
.menuitem .menuitem-self-control {
  justify-self: start;
  text-overflow: ellipsis;
  grid-column-start: 2;
}
.menuitem:hover {
  background: #4d4d4d;
}
.menuitem:active {
  background: #424242;
}
.menuitem-no-selected:hover {
  background: transparent !important;
}
.menuitem-no-selected:active {
  background: transparent !important;
}
.menuitem-selected {
  background: #006cbe !important;
}
.menuitem-separator {
  margin: 4px 12px;
  height: 2px;
  border-radius: 2px;
  background-color: #4d4d4d;
}
.select {
  position: relative;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.select .arrow-down {
  cursor: pointer;
  position: absolute;
  font-size: 16px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.option-list {
  position: absolute;
  left: 0;
  top: 32px;
  margin: 0;
  padding: 4px 0;
  min-width: 64px;
  max-height: 354px;
  overflow: auto;
  border-radius: 4px;
  z-index: 888;
  background: #3b3b3b;
  box-shadow: 0px 12.8px 28.8px #00000041, 0px 0px 9.2px #00000037;
}
.option-list > * {
  cursor: pointer;
  display: flex;
  height: 32px;
  padding: 0 10px;
  margin: 0 4px;
  background: transparent;
  border: 2px solid transparent;
  overflow: hidden;
  white-space: nowrap;
  list-style-type: none;
  box-sizing: border-box;
  align-items: center;
}
.option-list > *:hover {
  background: #454545;
}
.option-list > *:active {
  background: #424242;
}
/************/
/**   List  */
/************/
.list {
  display: block;
  list-style-type: none;
  overflow: auto;
  padding: 0 10px;
}
.list-widget li,
.list-widget .list-item {
  cursor: pointer;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  background: #3b3b3b;
  box-shadow: 0px 1.6px 3.6px #00000041, 0px 0px 2.9px #00000037;
  transition: background 0.2s ease-in-out;
}
.list-widget li:hover,
.list-widget .list-item:hover {
  box-shadow: 0px 12.8px 28.8px #00000041, 0px 0px 9.2px #00000037;
}
.list-widget li:active,
.list-widget .list-item:active {
  background-color: #424242;
}
.list-widget .list-item-selected {
  box-shadow: 0px 0px 0px 1.5px #4ea1e1 !important;
  background-color: #4d4d4d !important;
}
.list-view {
  padding: 0;
}
.list-view li,
.list-view .list-item {
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}
.list-view li:hover,
.list-view .list-item:hover {
  background-color: #4d4d4d;
}
.list-view li:active,
.list-view .list-item:active {
  background-color: #424242;
}
.list-view .list-item-selected {
  position: relative;
  box-shadow: none !important;
  background-color: #454545 !important;
}
.list-view .list-item-selected::after {
  content: '';
  width: 3px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 2px;
  background: #4ea1e1;
}
.list-item-delegate {
  display: none;
}
/************/
/*  Dialog  */
/************/
.dim {
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.3) !important;
}
.dialog-loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
  left: 0;
  top: 0;
}
.dialog-loading svg circle {
  fill: none;
  stroke: #4d4d4d;
  stroke-width: 2px;
  transform-origin: 50% 50%;
}
.dialog-container {
  position: absolute;
  padding: 20px;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  min-width: 120px;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #3b3b3b;
  box-shadow: 0px 12.8px 28.8px #00000041, 0px 0px 9.2px #00000037;
}
.dialog-header {
  margin-bottom: 16px;
}
.dialog-header span,
.dialog-header p,
.dialog-header div {
  font-weight: bold;
  font-size: 18px;
}
.dialog-content {
  margin: 10px 0;
}
.circle-run {
  stroke: #006cbe !important;
  animation: spin-infinite 2s linear infinite;
}
@keyframes spin-infinite {
  0% {
    stroke-dasharray: 0.01px 43.97px;
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(450deg);
    stroke-dasharray: 21.99px 21.99px;
  }
  100% {
    stroke-dasharray: 0.01px 43.97px;
    transform: rotate(1080deg);
  }
}
